* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif ;
    font-size: 16px;
    line-height: 1.42;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
text-decoration: none;
color: #000000;
}

h1,h2,h3 {
    margin: 0;
}

.container {
    max-width: 865px;
    padding: 0 5px;
    margin: 0 auto;
}

.header{
display: flex;
justify-content: end;
}

.nav-list {
    display: flex;
}

.button_download-btn {
    position: absolute;
    width: 208px;
    height: 47px;
    left: 148px;
    top: 477px;
    
    /* Primary */
    
    background: #FF6464;
    border-radius: 2px; 
    color: #FFFFFF;
}

.title-about_title {
    position: absolute;
width: 506px;
height: 105px;
left: 157px;
top: 215px;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 60px;
}

.nav{
    position: absolute;
width: 152px;
height: 43px;
left: 846px;
top: 27px;
font-style: normal;
font-weight: 500;
line-height: 29px;
text-align: right;
}

.about_avatar{
    position: absolute;
width: 243px;
height: 243px;
left: 755px;
top: 228px;
border-radius: 50%;
overflow: hidden;
}
.about_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.subtitle {
    position: absolute;
width: 129px;
height: 60px;
left: 148px;
top: 602px;

font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 60px;
/* identical to box height, or 273% */

display: flex;
align-items: flex-end;
color: black;
}

